@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$h1Title: 'Lobster' cursive;
$bgColorBlue: #2E3E4E;
$defaultRed: #EC664D;
$bgBar: whitesmoke;
$defaultFont: "JetBrains Mono";
$desktopTitleSizeH2: 18px;
$tabletTitleSizeH2: 20px;
$mobileTitleSizeH2: 20px;
