@mixin fbCol {
    display: flex;
    flex-direction: column;
}

@mixin fbRow {
    display: flex;
    flex-direction: row;
}

@mixin fbExtend($justifyContents, $alignItems) {
    justify-content: $justifyContents;
    align-items: $alignItems;
}

@mixin bgImg($url,
    $width: 100%,
    $height: 40vh,
    $size: cover,
) {
    background-image: url($url);
    background-position: center;
    background-size: $size;
    background-repeat: no-repeat;
    width: $width;
    height: $height;
}
