* {
   padding: 0;
   margin: 0;
   font-family: $fontFamily;
   color: dimgray;
}

html {
   scroll-behavior: smooth;
}

body {
   @include flexBoxColumn;
}

main>section:nth-child(odd) {
   background-color: $defaultSectionBg;
}

main>section:last-child {
   background-color: $contactBg;
}

main>section {
   padding-top: 5%;
   padding-bottom: 5%;
}

h2 {
   text-transform: uppercase;
}

h3 {
   text-transform: capitalize;
}

p {
   line-height: 1.5;
}

a {
   text-decoration: none;
}

i {
   color: whitesmoke;
}

input,
textarea {
   padding: 2%;
   border: 0.3px solid;
   background-color: transparent;
}

footer {
   padding: 5%;
   border-top: 1px solid $defaultSectionBg;
   background-color: $footerBg;
   text-align: center;
   @include flexBoxColumn;
   row-gap: 2vh;

   >aside {
      display: flex;
      justify-content: center;
      column-gap: 2vh;
   }

   a {
      width: 5vh;
      height: 5vh;
      border: 1px solid $defaultSectionBg;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

::placeholder {
   color: $defaultSectionBg;
}
