@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$footerBg : #202020;
$contactBg : #303030;
$defaultFontColor : #333333;
$defaultOrange : #FFA400;
$defaultSectionBg : #F9F9F9;
$progressBar : #979797;
$fontFamily : 'Lato',
sans-serif;
