@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: dimgray;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

main > section:nth-child(odd) {
  background-color: #F9F9F9;
}

main > section:last-child {
  background-color: #303030;
}

main > section {
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

i {
  color: whitesmoke;
}

input,
textarea {
  padding: 2%;
  border: 0.3px solid;
  background-color: transparent;
}

footer {
  padding: 5%;
  border-top: 1px solid #F9F9F9;
  background-color: #202020;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
footer > aside {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2vh;
       column-gap: 2vh;
}
footer a {
  width: 5vh;
  height: 5vh;
  border: 1px solid #F9F9F9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-moz-placeholder {
  color: #F9F9F9;
}

:-ms-input-placeholder {
  color: #F9F9F9;
}

::placeholder {
  color: #F9F9F9;
}

@media (min-width: 200px) {
  /* HEADER */
  header {
    background-image: url("/img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
  }
  header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
    text-align: center;
    height: 100%;
  }
  header > section > h1,
header > section h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: whitesmoke;
  }
  header > section > h1 {
    font-size: 22px;
  }
  header > section h3 {
    font-size: 16px;
  }
  header a:nth-child(3) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFA400;
    color: whitesmoke;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
  }
  nav {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
  }
  nav > ul {
    display: none;
  }
  nav h1 {
    padding-left: 3%;
  }
  details {
    width: 100%;
    text-align: right;
    position: absolute;
  }
  details > ul {
    list-style-type: none;
    background-color: white;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  details li {
    display: flex;
    width: 99%;
  }
  details a {
    border: 2px solid white;
    text-align: center;
    padding: 1vh;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
  }
  details a:hover {
    color: whitesmoke;
    background-color: lightblue;
    border-color: deepskyblue;
  }
  summary {
    border: 0.5px solid lightgray;
    font-size: 20px;
    color: #FFA400;
  }
  address {
    color: whitesmoke;
  }
  textarea {
    height: 20vh;
  }
  /* FEATURES */
  .features {
    padding-top: 15vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
  }
  .features > article {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
    text-align: center;
  }
  .features a span:first-child {
    color: cornflowerblue;
  }
  .features a span:last-child {
    color: chartreuse;
  }
  .features > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
  }
  .features > section a {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid #FFA400;
    background-color: #FFA400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    transition: 0.4s;
  }
  .features > section i {
    transition: 0.4s;
  }
  .features > section a:hover {
    background-color: whitesmoke;
  }
  .features > section a:hover > i {
    color: #FFA400;
  }
  .features p {
    width: 90%;
  }
  .features aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 3vh;
  }
  .features aside > p {
    width: 80%;
  }
  /* ABOUT */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .about > article,
.about > section {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .about > article {
    text-align: center;
  }
  .about > section > aside {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .bars {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 100%;
  }
  .bars > li {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .bars > li:nth-child(3) h6 {
    width: 80%;
  }
  .bars > li:last-child h6 {
    width: 90%;
  }
  .bars aside {
    display: flex;
    justify-content: space-between;
  }
  .bars blockquote,
.bars h6 {
    width: 100%;
    height: 1vh;
    border-radius: 20px;
    background-color: darkgray;
  }
  .bars h6 {
    background-color: #FFA400;
  }
  /* TEAM */
  .team {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
  }
  .team > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
  }
  .team > article > p {
    width: 90%;
  }
  .team > section {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
  }
  .team h2 {
    text-transform: uppercase;
  }
  .team figure {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .team span {
    background-color: white;
    text-transform: uppercase;
    color: #FFA400;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }
  .team small {
    text-align: center;
    color: dimgray;
    text-transform: uppercase;
  }
  .team img {
    width: 100%;
  }
  .team figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  /* PORTFOLIO */
  .portfolio {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
  }
  .portfolio > article,
.portfolio figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
  }
  .portfolio img {
    width: 98%;
  }
  .portfolio p {
    text-align: center;
  }
  /* CONTACT */
  .contact {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
    padding-top: 10vh;
  }
  .contact > article {
    text-align: center;
    width: 90%;
  }
  .contact > article > p,
.contact > article h2 {
    color: whitesmoke;
  }
  .contact > section,
.contact article {
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .contact > section i,
.contact article i {
    color: #FFA400;
  }
  .contact h3 {
    color: whitesmoke;
  }
  .contact ul {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .contact a {
    color: #FFA400;
  }
  .contact li {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .contact li:first-child > a {
    color: whitesmoke;
  }
  [type=submit] {
    font-weight: 600;
    width: 45%;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=style.css.map */
